<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>RIT PepBand - {% block pageName %} Index {% endblock %}</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css/">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">

      {% block styles %}
      {% endblock %}



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>
    {% block navbar %}

        <nav class="navbar navbar-inverse navbar-fixed-top">
            < class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HealthNet</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                    <div class="navbar-right navbar-form">
                        <div class="navbar-brand" style="margin-top: -10px">You are logged in as {{ user.first_name }} {{ user.last_name }}  </div>
                        <a href="/" class="btn btn-danger" role="button">Log Out</a>
                    </div>
                {% else %}
                    <form class="navbar-form navbar-right" method="post" action=/ >{% csrf_token %}
                        <div class="form-group">
                            <input type="text" placeholder="Username" name="username" id="username"  class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" id="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                        <a href="/" class="btn btn-success" role="button">Register</a>
                    </form>
                {% endif %}
            </div>

    {% endblock %}

    {% block content %}
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
   {% block scripts %}
    {% endblock %}

  </body>
</html>