{% extends "index/baseindex.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/cover.css" %} rel="stylesheet">
    <link href={% static "css/register.css" %} rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <body background="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/15994409_1440914322595425_1934365565524570109_o.jpg?oh=bee611f662c437a7c1d01df5107acf2c&oe=59FD6DB1" style="height: 100%">

        <!-------------------------------------------- Home --------------------------------------------------------->
        <div class="site-wrapper-inner">

            <div class="cover-container home">
                <div class="inner cover">
                    <h1 class="cover-heading">RIT PepBand</h1>
                    <p class="lead">Welcome to the RIT PepBand website <br> <br> Serving "The best pepband in the land" for all
                        your
                        musical needs.</p>
                    <p class="lead">
                        <div class="row">
                            {% if form.errors %}
                                <p class="error">Sorry, that's not a valid username or password</p>
                            {% endif %}

                    <form class="navbar-form navbar-right" method="post" action=/auth/ >{% csrf_token %}
                        <div class="form-group">
                            <input type="text"placeholder="Username" name="username" id="username"
                                   class="form-control" style="margin-bottom: 2%">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" id="password"
                                   class="form-control" style="margin-bottom: 2%">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>
                </p>
            </div>

        </div>
    </div>

    <!-------------------------------------------- Sign In --------------------------------------------------------->
    <div class="sign-in">
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">PepBand Login</h1>
                    </div>
                </div>
            </div>

            <div class="main-login main-center">
                <form class="form-horizontal" method="post" id="loginform"> {% csrf_token %}
                    <div class="form-group">
                        <div class="alert-danger">
                            <strong id="errorlogin">{{ login.errors }}</strong>
                        </div>
                        <label for="usernamelog" class="col-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa"
                                                                       aria-hidden="true"></i></span>
                                <input type="text" placeholder="Username" name="usernamelog" id="usernamelog"
                                       class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordlog" class="col-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa"
                                                                       aria-hidden="true"></i></span>
                                <input type="password" placeholder="Password" name="passwordlog" id="passwordlog"
                                       class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button"
                                id="login-button">Log In
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    </div>


    <div class="mastfoot">
        <div class="inner">
            <p>Updated for the 2017/2018 Academic Year<br>
					For Use by the RIT Pep Band Only</p>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src={% static "js/index.js" %}></script>

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        //there are better ways to do this but I am really lazy
        {% if pound == "SignUp" %}

            var signIn = $('.sign-in');
            var signUp = $('.sign-up');
            var home = $('.home');

            $('#signin').removeClass('active');
            $('#signout').addClass('active');
            $('#home').removeClass('active');
            signIn.hide(0, function () {
                home.hide(0, function () {
                    signUp.show();
                });
            });
        {% endif %}
    </script>

{% endblock %}