{% csrf_token %}

<div class="modal fade" id="createAppointment" tabindex="-1" role="dialog" aria-labelledby="createAppointmentTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAppointmentTitle">Create New Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% load myfilters %}
            <div class="modal-body" style="padding-left:7%; padding-right: 7%;">
            <div class="modal-body">
                <form class="form-horizontal" id="createApptForm" method="post" action=/accounts/create_apt/> {% csrf_token %}
                    {{ create_appt_form.non_field_errors }}
                    <div class="form-group">
                        <label for="doctor" class="cols-sm-2 control-label">Your Preferred Doctor</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.doctor|addcpt:"form-control, afaf, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="doctor_errors">{{ create_appt_form.errors.doctor }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="doctor" class="cols-sm-2 control-label">Hospital</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.location|addcpt:"form-control, afaf, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="location_errors">{{ create_appt_form.errors.location }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first-name" class="cols-sm-2 control-label">Time</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.dateTimeStart|addcpt:'form-control,mm/dd/yyyy,datetime-local'}}
                            </div>
                            <div class="alert-danger">
                                <strong id="datetime_errors">{{ create_appt_form.errors.startDateTime }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first-name" class="cols-sm-2 control-label">Notes</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.notes|addcpt:"form-control, description, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="notes_errors">{{ create_appt_form.errors.notes }}</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="createAptButton" class="btn btn-primary">Create Appointment</button>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editAppointment" tabindex="-1" role="dialog" aria-labelledby="editAppointmentTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAppointmentTitle">Edit Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="editApptForm" method="post" action=/accounts/update_apt/> {% csrf_token %}
                    <div class="form-group">
                        <label for="doctor" class="cols-sm-2 control-label">Your Preferred Doctor</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.doctor|addcpt:"form-control doctor_, afaf, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="doctor_errors_">{{ create_appt_form.errors.doctor }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="doctor" class="cols-sm-2 control-label">Hospital</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.location|addcpt:"form-control location_, afaf, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="location_errors_">{{ create_appt_form.errors.location }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first-name" class="cols-sm-2 control-label">Time</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.dateTimeStart|addcpt:'form-control datetime_,mm/dd/yyyy,datetime-local'}}
                            </div>
                            <div class="alert-danger">
                                <strong id="datetime_errors_">{{ create_appt_form.errors.startDateTime }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first-name" class="cols-sm-2 control-label">Notes</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ create_appt_form.notes|addcpt:"form-control notes_, description, text"}}
                            </div>
                            <div class="alert-danger">
                                <strong id="notes_errors_">{{ create_appt_form.errors.notes }}</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="cancelAptButton" class="btn btn-warning">Cancel Appointment</button>
                <button type="button" id="editAptButton" class="btn btn-primary">Edit Appointment</button>
            </div>
        </div>
    </div>
</div>