{% extends 'dashboard/base.html' %}


{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "bootstrap-calendar/css/calendar.min.css" %}>
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block options %}
    <li>
        <a href="/accounts/patient_dashboard/#Home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        <a href="/accounts/patient_dashboard/#CalendarSection"><i class="fa fa-fw fa-calendar"></i> Appointments</a>
    </li>

    <li>
        <a href="/accounts/patient_dashboard/#Prescription"><i class="fa fa-fw fa-address-book"></i> Prescriptions</a>
    </li>

    <li class="active">
        <a href="#"><i class="fa fa-fw fa-plus-square"></i> Medical Info and Tests</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-user"></i> Account Information <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
                <a href="/accounts/patient_dashboard/patient_update_information/"><i class="fa fa-fw fa-info-circle"></i> Profile Information</a>
            </li>
            <li>
                <a href="/accounts/patient_dashboard/patient_medical_information/"><i class="fa fa-fw fa-user-md"></i> Medical Information</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div id="Home" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                 {{ patient.person.firstName }} {{ patient.person.lastName }} Medical Information
            </h1>
        </div>
    </div>
    <div class="row">
    <!-- Here goes all the content -->
    <div id="MedInfo" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Patient Medical Information</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody id="presc_body">
                        <tr>
                            <td><b>Patient Name</b></td>
                            <td>{{ patient.person.firstName }} {{ patient.person.lastName }}</td>
                        </tr>
                        <tr>
                            <td><b>Weight</b></td>
                            <td>{{ medicalinfo.weightPounds }} Pounds</td>
                        </tr>
                        <tr>
                            <td><b>Height</b></td>
                            <td>{{ medicalinfo.heightInches }} Inches</td>
                        </tr>
                        <tr>
                            <td><b>Blood Type</b></td>
                            <td>{{ medicalinfo.bloodType }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
    <div id="Test" class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-plus fa-fw"></i> Tests</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th> Test Name </th>
                            <th> Status </th>
                            <th> Comments </th>
                        </tr>
                        </thead>
                        <tbody id="presc_body">
                        {% for test in tests %}
                            {% if test.released %}
                                <tr>
                                    <td>{{ test.disease }}</td>
                                    <td>{{ test.result }}</td>
                                    <td>{{ test.notes }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ test.disease }}</td>
                                    <td>Pending</td>
                                    <td>{{ test.notes }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="Prescriptions" class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-plus-square fa-fw"></i> Prescriptions</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th> Medication </th>
                            <th> Refills </th>
                        </tr>
                        </thead>
                        <tbody id="presc_body">
                        {% for entry in prescriptions %}
                                <tr>
                                    <td>{{ entry.medication }}</td>
                                    <td>{{ entry.refills }}</td>
                                </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="Files" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-plus-square fa-fw"></i> Files</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th> File Title </th>
                            <th> File </th>
                        </tr>
                        </thead>
                        <tbody id="presc_body">
                        {% for entry in files %}
                                <tr>
                                    <td>{{ entry.title }}</td>
                                    <td><a href="/download/{{ entry.id }}">Download File</a></td>
                                </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
{% endblock %}