{% extends 'dashboard/base.html' %}


{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}

{% block options %}
    <li>
    {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
    {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-calendar"></i> Appointments</a>
    </li>

    <li>
    {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-address-book"></i> Prescriptions</a>
    </li>

    <li>
        <a href="/patient_info/{{ object.id }}/"><i class="fa fa-fw fa-plus-square"></i> Medical Info and Tests</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-user"></i> Account Information<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li class="active">
                <a href="../patient_update_information"><i class="fa fa-fw fa-info-circle"></i> Profile Information</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-user-md"></i> Medical Information</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
{% load myfilters %}
    <div class="container">


    <form class="well form-horizontal" action="/accounts/patient_dashboard/patient_medical_information/" method="post"  id="contact_form">
{% csrf_token %}
        <fieldset>

<!-- Form Name -->
<legend>Update Patient Information</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Insurance Number</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
  {{ form.insuranceNumber|addcpt:"form-control, Enter your Insurance Number, text"}}
  </div>
      <div class="alert-danger">
          <strong>{{ form.errors.insuranceNumber }}</strong>
      </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Insurance Company</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
  {{ form.insuranceCompany|addcpt:"form-control, Enter your Insurance Company Name, text"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.insuranceCompany }}</strong>
        </div>
    </div>
</div>

<!-- Text input-->
    <div class="form-group">
  <label class="col-md-4 control-label">Weight in Pounds</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
    {{ form.weightPounds|addcpt:"form-control, Enter your Weight in Pounds"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.weightPounds }}</strong>
        </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Height in Inches</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
        {{ form.heightInches|addcpt:"form-control, Enter your Height in Inches"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.heightInches }}</strong>
        </div>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Preferred Hospital</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-align-right"></i></span>
    {{ form.preferredHospital|addcpt:"form-control, Enter the name of your preferred Hospital"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.preferredHospital }}</strong>
        </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Blood Type</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
 {{ form.bloodType|addcpt:"form-control, O-"}}

    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.bloodType }}</strong>
        </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Emergency Contact Name</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  {{ form.emergencyContactName|addcpt:"form-control, Enter your Emergency Contact Name"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.emergencyContactName }}</strong>
        </div>
  </div>
</div>

<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Emergency Contact Number</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
    {{ form.emergencyContactNumber|addcpt:"form-control, Enter your Emergency Contact Number"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.emergencyContactNumber }}</strong>
        </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Additional Notes</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-notes"></i></span>
  {{ form.notes|addcpt:"form-control, Additional Notes go Here, text"}}
    </div>
        <div class="alert-danger">
            <strong>{{ form.errors.notes }}</strong>
        </div>
</div>
</div>

<!-- Success message -->
            {% if success %}
<div class="alert alert-success" role="alert">Success <i class="glyphicon glyphicon-thumbs-up"></i> Your changes have been commited!</div>
{% endif %}
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
{% endblock %}