{% extends 'dashboard/base.html' %}


{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}

{% block options %}
    <li>
        {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-calendar"></i> Appointments</a>
    </li>

    <li>
        {% csrf_token %}
        <a href="/accounts/patient_dashboard"><i class="fa fa-fw fa-address-book"></i> Prescriptions</a>
    </li>

    <li>
        <a href="/patient_info/{{ object.id }}/"><i class="fa fa-fw fa-plus-square"></i> Medical Info and Tests</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-user"></i> Account
            Information<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li class="active">
                <a href="#"><i class="fa fa-fw fa-info-circle"></i> Profile Information</a>
            </li>
            <li>
                <a href="../patient_medical_information/"><i class="fa fa-fw fa-user-md"></i> Medical Information</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    {% load myfilters %}
    <div class="container">


        <form class="well form-horizontal" action="/accounts/patient_dashboard/patient_update_information/"
              method="post" id="contact_form">
            {% csrf_token %}
            <fieldset>

                <!-- Form Name -->
                <legend>Update Patient Information</legend>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {{ form.first_name|addcpt:"form-control, Enter your First Name, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.first_name }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {{ form.last_name|addcpt:"form-control, Enter your Last Name, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.last_name }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            {{ form.email|addcpt:"form-control, Enter your E-mail, email" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.email }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                            {{ form.gender|addcpt:"form-control, Male" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.gender }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Phone #</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            {{ form.phone_number|addcpt:"form-control, 000-000-00000" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.phone_number }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Address</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {{ form.address|addcpt:"form-control, Enter your Address, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.address }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {{ form.city|addcpt:"form-control, Enter your City, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.city }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->

                <div class="form-group">
                    <label class="col-md-4 control-label">State</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {{ form.state|addcpt:"form-control, Enter your State, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.state }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Zip Code</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {{ form.zip_code|addcpt:"form-control,Enter your Zip Code, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.zip_code }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Birthday</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            {{ form.birthday|addcpt:'form-control,mm/dd/yyyy,date' }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.birthday }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Success message -->
                {% if success %}
                    <div class="alert alert-success" role="alert">Success <i class="glyphicon glyphicon-thumbs-up"></i>
                        Your changes have been commited!
                    </div>
                {% endif %}
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning">Update <span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    </div><!-- /.container -->
{% endblock %}