{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{#{% block options %}#}
{#    <li>#}
{#        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i#}
{#                class="fa fa-fw fa-folder-open"></i> Information<i#}
{#                class="fa fa-fw fa-caret-down"></i></a>#}
{#        <ul id="mess" class="collapse">#}
{#            <li>#}
{#                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Documents</a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
{#{% endblock %}#}

{% block content %}
    <h1>404</h1>
    <p>Sorry, the page that you are trying to reach does not exist.  Please navigate to a different made to make sad RITchie feel better</p>
    <img src={% static "media/sadtiger.jpg" %} alt="NA">
{% endblock %}