{% extends base %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>404</h1>
    <!-- Error image and text presented for when a 404 error occurs -->
    <p>Sorry, the page that you are trying to reach does not exist.
       Please navigate to a different page to make sad RITchie feel better</p>
    <img src={% static "media/sadtiger.jpg" %} alt="NA">
{% endblock %}
