{% extends base %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- sets up layout and capabilities possible for the admin of the page -->
        <h2>Edit Entries</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <!-- sets up collapse of option for music -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Music</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="row text-center">
                        <!-- sets up layout for music information displayed -->
                        <div class="col-md-3">
                            <h3><p class="text-success">Title</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Status</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Notes</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Delete</p></h3>
                        </div>
                    </div>
                    <hr>
                    {% for entry in list %}
                        <div class="row text-center">
                            <!-- sets up button control for changes along with pull to database for music -->
                            <div class="col-sm-3">{{ entry.title }}</div>
                            <div class="col-sm-3">
                                <input type="button" style="margin: -10px" class="btn btn-sm btn-primary"
                                       value={{ entry.status }} onclick="location.href
                                = '/conductor/{{ entry.slug }}';">
                            </div>
                            <div class="col-sm-3">
                                <input type="button" style="margin: -10px" class="btn btn-sm btn-primary" value="Change"
                                       onclick="location.href
                                               = '/conductor/{{ entry.slug }}/change';">
                            </div>
                            <div class="col-sm-3">
                                <input type="button" style="margin: -10px" class="btn btn-sm btn-danger" value="Delete"
                                       onclick="location.href
                                               = '/admin_page/{{ entry.slug }}/delete';">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <!-- sets up layout and collapse of change option 2 (EBoard) -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Eboard</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <!-- sets up layout for eboard's display of information -->
                    <div class="row text-center">
                        <div class="col-md-3">
                            <h3><p class="text-success">Position</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Name</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Cell</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Email</p></h3>
                        </div>
                    </div>
                    <hr>
                    {% for entry in eboard %}
                        <div class="row text-center">
                            <!-- sets up button control and database pull for eboard members -->
                            <div class="col-md-3">
                                <input type="button" style="margin: -10px;" class="btn btn-sm btn-primary"
                                       value={{ entry.slug }} onclick="location.href
                                = '/president/eboard/{{ entry.id }}';">
                            </div>
                            <div class="col-md-3">{{ entry }}</div>
                            <div class="col-md-3"><a href="tel:{{ entry.cell }}">{{ entry.cell }}</a></div>
                            <div class="col-md-3"><a href="mailto:{{ entry.email }}" target="_top">{{ entry.email }}</a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">'
                <!-- sets up collapse and layout for section leaders information -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse3">Section Leaders</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <!-- sets up layout for presentation of section leaders information -->
                    <div class="row text-center">
                        <div class="col-md-3">
                            <h3><p class="text-success">Section</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Name</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Cell</p></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><p class="text-success">Email</p></h3>
                        </div>
                    </div>
                    <hr>
                    {% for leader in section %}
                        <div class="row text-center">
                            <!-- sets up button functionality and database pull for section leaders -->
                            <div class="col-md-3">
                                <input type="button" style="margin: -10px" class="btn btn-sm btn-primary"
                                       value={{ leader.section }} onclick="location.href
                                = '/president/section/{{ leader.id }}';">
                            </div>
                            <div class="col-md-3">{{ leader }}</div>
                            <div class="col-md-3"><a href="tel:{{ leader.cell }}">{{ leader.cell }}</a></div>
                            <div class="col-md-3"><a href="mailto:{{ leader.email }}"
                                                     target="_top">{{ leader.email }}</a></div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Sets up password control and layout for server entrance (collapses info as well) -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse4">Change Passwords</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <!-- sets up layout for username options and their base functionalities -->
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3><p class="text-success">Username</p></h3>
                        </div>
                    </div>
                    <hr>
                    {% for user in users %}
                    <!-- sets up button control for the ability for changes to occur for passwords,
                    along with changes passwords in the database -->
                        <div class="row text-center">
                            <div class="col-md-12">
                                <input type="button" style="margin: -10px" class="btn btn-sm btn-primary"
                                       value={{ user }} onclick="location.href
                                = '/admin_page/{{ user }}/change_password';">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}