{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block options %}
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i
                class="fa fa-fw fa-folder-open"></i> Information<i
                class="fa fa-fw fa-caret-down"></i></a>
        <ul id="mess" class="collapse">
            <li>
                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>
            </li>
            <li>
                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>
            </li>
            <li>
                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Constitution</a>
            </li>
        </ul>
    </li>
    </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">RIT Pep Band Constitution</h1></div>
    </div>
    <p></p>
    <!--<embed src={% static "documents/PepBandConstitution.pdf" %} width="1000" height="1000" type='application/pdf'>-->
<iframe src="https://docs.google.com/document/d/1Xhib0sjRf007ZqrkpySY1RxMbMjpXmDCKvdBHRbLn7c/pub?embedded=true" style="border:none;" width="100%" height="1000" </iframe>
{% endblock %}