{% extends base %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">RIT Pep Band Documents</h1></div>
    </div>
    <p></p>
    <!--<embed src={% static "Documents/PepBandDocuments.pdf" %} width="1000" height="1000" type='application/pdf'>-->
    <iframe src="https://drive.google.com/embeddedfolderview?id=0Bz__clFh4GznM3RYdUxLcnVmSEk#list" style="width:100%; height:600px; border:0;"></iframe>
    <!--<iframe src="https://docs.google.com/document/d/1Xhib0sjRf007ZqrkpySY1RxMbMjpXmDCKvdBHRbLn7c/pub?embedded=true" style="border:none;" width="100%" height="1000" </iframe>-->
{% endblock %}