{% extends "dashboard/base.html" %}

{% block content %}

    <div class="row">
        <div class="text-center">
            <h2>Discharge Successful</h2>
        </div>
        <div class="text-center">
            <p>Congratulations! You've successfully discharged a patient from a hospital!</p>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-success" role="button" style="margin-right: 3%">Return
                to Hospital Activity</a>
        </div>
    </div>
    </div>

{% endblock %}