{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block options %}
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i
                class="fa fa-fw fa-folder-open"></i> Information<i
                class="fa fa-fw fa-caret-down"></i></a>
        <ul id="mess" class="collapse">
            <li>
                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>
            </li>
            <li>
                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>
            </li>
            <li>
                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Constitution</a>
            </li>
        </ul>
    </li>
    </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1 class="text-center">Eboard</h1></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">President</h4>
                            <p>Andrew Zgoda <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Conductor </h4>
                            <p>Megan Detwiler <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Vice President </h4>
                            <p>Jaccob Cozzarin <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Vice President </h4>
                            <p>Bao Thai <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Treasurer </h4>
                            <p>Melissa Barton <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Secretary </h4>
                            <p>Sarah Messner <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                    href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}