{% extends 'dashboard/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
{#        {% block options %}#}
{#            <li>#}
{#                <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i#}
{#                        class="fa fa-fw fa-folder-open"></i> Information<i#}
{#                        class="fa fa-fw fa-caret-down"></i></a>#}
{#                <ul id="mess" class="collapse">#}
{#                    <li>#}
{#                        <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/constitution"><i class="fa fa-fw fa-file"></i> Documents</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/new_song"><i class="fa fa-fw fa-user"></i> New Song</a>#}
{#            </li>#}
{#            </ul>#}
{#            </div>#}
{#        {% endblock %}#}

{% block content %}
    {% load myfilters %}
    <div class="container">

        <form class="well form-horizontal" action="/new_song" method="post"
              id="contact_form">
            {% csrf_token %}
            <fieldset>

                <!-- Form Name -->
                <legend>Add a New Song</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Song Title</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {{ form.name|addcpt:"form-control, Enter the Song Title, text" }}
                        </div>
                        <div class="alert-danger">
                            <strong>{{ form.errors.title }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Will it be Public?</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                            {{ form.address|addcpt:"form-control, Enter True or False, text" }}
                        </div>

                        <div class="alert-danger">
                            <strong>{{ form.errors.public }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Success message -->
                {% if success %}
                    <div class="alert alert-success" role="alert">Success <i class="glyphicon glyphicon-thumbs-up"></i>
                        Your changes have been commited!
                    </div>
                {% endif %}
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning">Update <span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
{% endblock %}