{% extends base %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1 class="text-center">eBoard</h1></div>
            <form method="POST" action="">
                {% csrf_token %}
            </form>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h3><p class="text-success">Position</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Name</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Cell</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Email</p></h3>
            </div>
        </div>
        <hr>
        {% for entry in eboard %}
            <div class="row text-center">
                <div class="col-md-3">
                    <input type="button" class="btn btn-sm btn-primary"
                           value={{ entry.slug }} onclick="location.href
                    = '/president/eboard/{{ entry.id }}';">
                </div>
                <div class="col-md-3">{{ entry }}</div>
                <div class="col-md-3"><a href="tel:{{ entry.cell }}">{{ entry.cell }}</a></div>
                <div class="col-md-3"><a href="mailto:{{ entry.email }}" target="_top">{{ entry.email }}</a></div>
            </div>
            <hr>
        {% endfor %}
        <div class="row">
            <div class="col-md-12"><h1 class="text-center">Section Leaders</h1></div>
            <form method="POST" action="">
                {% csrf_token %}
            </form>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h3><p class="text-success">Section</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Name</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Cell</p></h3>
            </div>
            <div class="col-md-3">
                <h3><p class="text-success">Email</p></h3>
            </div>
        </div>
        <hr>
        {% for leader in section %}
            <div class="row text-center">
                <div class="col-md-3">
                    <input type="button" class="btn btn-sm btn-primary"
                           value={{ leader.section }} onclick="location.href
                    = '/president/section/{{ leader.id }}';">
                </div>
                <div class="col-md-3">{{ leader }}</div>
                <div class="col-md-3"><a href="tel:{{ leader.cell }}">{{ leader.cell }}</a></div>
                <div class="col-md-3"><a href="mailto:{{ leader.email }}" target="_top">{{ leader.email }}</a></div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}