{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{#{% block options %}#}
{#    <li>#}
{#        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i#}
{#                class="fa fa-fw fa-folder-open"></i> Information<i#}
{#                class="fa fa-fw fa-caret-down"></i></a>#}
{#        <ul id="mess" class="collapse">#}
{#            <li>#}
{#                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Documents</a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
{#    </ul>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">Section Leaders</h1></div>
    </div>
    <div class="container">
        <div class="row">
            {% for entry in list %}
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                    </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ entry.section }}</h4>
                            <p>&nbsp; &nbsp;{{ entry }} <br> &nbsp; &nbsp;Cell: <a
                                href="tel:{{ entry.cell }}">{{ entry.cell }}</a> <br> &nbsp; &nbsp;Email: <a
                                href="mailto:{{ entry.email }}">{{ entry.email }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}