{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{% block options %}
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i
                class="fa fa-fw fa-folder-open"></i> Information<i
                class="fa fa-fw fa-caret-down"></i></a>
        <ul id="mess" class="collapse">
            <li>
                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>
            </li>
            <li>
                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>
            </li>
            <li>
                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Constitution</a>
            </li>
        </ul>
    </li>
    </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">Section Leaders</h1></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Flutes</h4>
                        <p>Krysia Browka <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Clarinets </h4>
                        <p>Nicole Pannullo <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Alto Saxophones </h4>
                        <p>Derek Fought <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Trumpets </h4>
                        <p>Peyton Schmidt <br> Cell: <a href="tel:7162088050">(716)-208-8050</a> <br> Email: <a
                                href="mailto:pcs7709@rit.edu">pcs7709@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mellophones </h4>
                        <p>Mike Troise <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tenor Saxophones </h4>
                        <p>Callie Donahue <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Trombones </h4>
                        <p>Brian Lake <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tubas </h4>
                        <p>Working on it <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a>
                            <img class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Percussion </h4>
                        <p>Tommy Bohde <br> Cell: <a href="tel:1231231234">(123)-123-1234</a> <br> Email: <a
                                href="mailto:fml1234@rit.edu">fml1234@rit.edu</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}