{% extends "dashboard/base.html" %}

{% block styles %}
    {% load static %}
    <!-- Custom styles for this template -->
    <link href={% static "css/info.css" %} rel="stylesheet">
{% endblock %}

{#{% block options %}#}
{#    <li>#}
{#        <a href="javascript:;" data-toggle="collapse" data-target="#mess"><i#}
{#                class="fa fa-fw fa-folder-open"></i> Information<i#}
{#                class="fa fa-fw fa-caret-down"></i></a>#}
{#        <ul id="mess" class="collapse">#}
{#            <li>#}
{#                <a href="/eboard"><i class="fa fa-fw fa-user"></i> EBoard</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/section_leaders"><i class="fa fa-fw fa-user"></i> Section Leaders</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/constitution"><i class="fa fa-fw fa-file"></i> Documents</a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">{{ song }}</h1></div>
    </div>
    <div class="row text-center">
        <table id="songTable" align="center">
            <tr>
                <td><a href="jpg/"><i class="fa fa-fw fa-picture-o"></i> JPG</a></td>
            </tr>
            <tr>
                <td><a href="pdf/"><i class="fa fa-fw fa-file-pdf-o"></i> PDF</a></td>
            </tr>
        </table>
    </div>
    <html>
    <body>
    <br />
    <br />
    {% if song.video %}
        <iframe width="560" height="315" src={{ ""|add:song.video }} frameborder="0" allowfullscreen></iframe>
    {% endif %}
    </body>
    </html>
{% endblock %}